[Desktop Entry]
Type=Application
Name=SteamCMD
Comment=Command-line Steam client
Exec=steamcmd-wrapper
Terminal=true
Icon=com.valvesoftware.Steam
Categories=Network;FileTransfer;Game;
